* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    /* Esconde a rolagem horizontal */
    width: 100%;
    /* Garante que o body não ultrapasse a largura da viewport */
}

main {
    background: url("/img/bg_main.png") no-repeat top center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    /* Alinha os itens na coluna */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    width: 100%;
}

.barra-superior {
    display: flex;
    /* Usa flexbox para alinhar itens */
    justify-content: flex-end;
    /* Alinha o texto à direita */
    background-color: #1A1C39;
    /* Cor da barra superior */
    color: #FFF;
    /* Cor do texto na barra superior */
    width: 100%;
    /* Ocupa toda a largura */
    padding: 12px 41px;
    /* Espaçamento vertical e horizontal */
    font-family: 'Poppins', sans-serif;
    /* Fonte Poppins */
}

.barra-superior p {
    margin: 0;
    /* Remove margem do parágrafo */
    font-size: 10px;
}


.container-header {
    display: flex;
    /* Usa flexbox para o logo e nav */
    align-items: center;
    /* Centraliza verticalmente */
    width: 100%;
    /* Ocupa toda a largura */
    background-color: #1A1C39;
    /* Cor de fundo da barra do logo e nav */
    padding: 0 0 38px 0;
    /* Espaçamento vertical */
}

.barra-fixa {
    height: 1px;
    /* Altura da barra */
    background-color: rgba(255, 255, 255, 0.50);
    /* Cor da barra */
    width: calc(100% - 20px);
    /* Ocupa toda a largura menos 20px */
    margin-left: 20px;
    /* Espaço de 20px à esquerda para alinhar com a logo */
    margin: 0;
    /* Remove margens padrão */
}

.logo {
    width: 132.84px;
    /* Largura da logo */
    height: 47.689px;
    /* Altura da logo */
    flex-shrink: 0;
    /* Não encolhe */
    margin-right: 78px;
    /* Espaço à direita da logo */
    margin-left: 10px;
}

nav {
    display: flex;
    /* Usa flexbox para o menu */
    justify-content: flex-start;
    /* Alinha os itens à esquerda */
    max-width: calc(100% - 210.84px);
    /* Limita a largura do nav considerando a logo e a margem */
}

nav ul {
    display: flex;
    /* Exibe os itens do menu em linha */
    list-style: none;
    /* Remove as bolinhas da lista */
    padding: 0;
    /* Remove o padding da lista */
    margin: 0;
    /* Remove a margem da lista */
}

nav li {
    margin: 0 7px;
    /* Espaçamento entre os itens do menu */
}

nav a {
    text-decoration: none;
    /* Remove o sublinhado do link */
    color: #FFF;
    /* Cor do texto do link */
    font-family: 'Poppins', sans-serif;
    /* Fonte Poppins */
    font-size: 12px;
    /* Tamanho da fonte */
    font-weight: 400;
    /* Peso da fonte */
    text-transform: uppercase;
    /* Texto em maiúsculas */
    transition: color 0.3s ease, border-bottom 0.3s ease;
    /* Transição suave */
}

nav a:hover {
    border-bottom: 3px solid #FF6900
        /* Altera a cor do link ao passar o mouse */
}

.promocoes-container {
    text-align: center;
    /* Centraliza o texto */
    margin-top: 20px;
    /* Espaço acima do container de promoções */
}

h2 {
    color: rgb(0, 0, 0);
    /* Cor do texto do título */
    margin-top: 15px;
    /* Espaço acima do título */
}

h3 {
    color: black;
    /* Cor do texto do subtítulo */
    margin: 10px 0;
    /* Espaço em cima e embaixo do subtítulo */
}

.botao__compre {
    /* Estilização para o botão */
    background-color: #FF6200EE;
    /* Cor de fundo do botão */
    color: white;
    /* Cor do texto do botão */
    border: none;
    /* Remove borda padrão */
    padding: 10px 20px;
    /* Espaçamento interno do botão */
    font-family: 'Poppins', sans-serif;
    /* Fonte Poppins */
    font-size: 14px;
    /* Tamanho da fonte do botão */
    cursor: pointer;
    /* Cursor de pointer ao passar o mouse */
    text-transform: uppercase;
    /* Texto em maiúsculas */
}

.botao__compre:hover {
    background-color: #FFBB86FC;
    /* Cor do botão ao passar o mouse */

}